body {
  font-family: sans-serif;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.container {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  width: 320px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}


#title{
    text-align: center;
}

svg {
  width: auto;
}

li{
    padding-bottom: 10px;
}

ul{
    text-align: left;
    margin-bottom: 0px;
    list-style-type: none;
}

#text{
    text-align: center;
    width: 85%;
}

#wasans{
    font-size: 0.8em;
    text-decoration: line-through;
    margin-top: 15px;
    color: #b8b8b8;
}