body {
  font-family: sans-serif;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.container {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  width: 320px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}


#title{
    text-align: center;
}

svg {
  width: auto;
}

li{
    padding-bottom: 10px;
}

ul{
    text-align: left;
    margin-bottom: 0px;
    list-style-type: none;
}

#text{
    text-align: center;
    width: 85%;
}

#link{
    font-size: 0.8em;
    margin-top: 15px;
    color: #77ec77;
}

#downloadBtn{
    display: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: #f4f4f4;
    background-color: cornflowerblue;
    transition: background-color 0.2s ease;
    border: none;
    border-radius: 8px;
}

#downloadBtn:hover{
    background-color: royalblue;
    cursor: pointer;
}